<div id="messages-container">
    <div id="messages-container-titre">
        <h1 id="messages-titre-h1">Messages</h1>
        <p id="messages-titre-p"> Gérez les messages reçus depuis le formulaire de contact</p>
    </div>
    <div class="messages">
        <i class="fa-regular fa-message fa-2xl"></i>
        <p id="messages-notfound">Aucun message reçu pour le moment</p>
        <div class="messages-card-section">

        </div>
        <div class="messages-details" style="display: none">
            <i class="fa-regular fa-message fa-2xl" style="color: #9e9e9e;"></i>
            <p class="messages-notfound">Sélectionnez un message pour voir les détails</p>
        </div>
    </div>
</div>