<div id="monitoring-container">
    <div class="dashboard-card">
        <div id="dashboard-card-1">
            <i class="fa-solid fa-user-group"></i>
            <div class="dashboard-card-chiffre"><h1>0</h1></div>
            <div class="dashboard-card-label"><p>Visiteurs Totaux</p></div>
        </div>
        <div id="dashboard-card-2">
            <i class="fa-solid fa-eye"></i>
            <div class="dashboard-card-chiffre"><h1>0</h1></div>
            <div class="dashboard-card-label"><p>Pages Vues</p></div>
        </div>
        <div id="dashboard-card-3">
            <i class="fa-solid fa-clock"></i>
            <div class="dashboard-card-chiffre"><h1>0</h1></div>
            <div class="dashboard-card-label"><p>Temps Moyen</p></div>
        </div>
        <div id="dashboard-card-4">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <div class="dashboard-card-chiffre"><h1>0</h1></div>
            <div class="dashboard-card-label"><p>Taux de Rebond</p></div>
        </div>
    </div>
    <div class="dashboard-perf-et-activité">
        <div class="dashboard-performance-du-site">
            <div class="performance-titre">
                <i class="fa-solid fa-wave-square"></i>
                <p>Performance du Site</p>
                <span></span>
            </div>
            <div class="performance-temps-de-chargement">
                <i class="fa-solid fa-bolt-lightning fa-lg"></i>
                <p>Temps de Chargement</p>
                <span></span>
            </div>
            <div class="performance-disponibilité">
                <i class="fa-solid fa-server fa-lg"></i>
                <p>Disponibilité</p>
            </div>
            <div class="performance-utilisation-cpu">
                <i class="fa-solid fa-microchip fa-lg"></i>
                <p>Utilisation CPU</p>
                <span></span>
            </div>
            <div class="performance-stockage-utilisé">
                <i class="fa-regular fa-hard-drive fa-lg"></i>
                <p>Stockage Utilisé</p>
                <span></span>
            </div>
        </div>
        <div class="dashboard-activité-récente">
            <div class="activité-titre">
                <i class="fa-regular fa-clock fa-lg"></i>
                <p>Activité Récente</p>
            </div>
            <div class="activité-card-default">
                <div class="activité-informations-icon">
                    <i class="fa-solid fa-globe"></i>
                </div>
                <div class="activité-informations">
                    <p class="activité-informations-description">Ex. Nouvelle visite depuis Paris, France</p>
                    <p class="activité-temps-passé">il y a 2 min</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-stat-et-bdd">
        <div class="stat-dernières-modifications">
            <div class="dernières-modifications-titre">
                <i class="fa-solid fa-pencil fa-sm"></i>
                <p>Dernières Modifications</p>
            </div>
            <div class="dernières-modifications-default">
                <div class="dernières-modifications-default-status-et-descriptions">
                    <p class="dernières-modifications-default-status">modifié</p>
                    <p class="dernières-modifications-default-description">Ex. Projet "Portfolio 3D"</p>
                </div>
                <p class="dernières-modifications-default-temps-passé">il y a 2h</p>
            </div>
        </div>
        <div class="bdd-base-de-donnée">
            <div class="base-de-donnée-entrées-titre">
                <i class="fa-solid fa-database"></i>
                <p>Base de données</p>
            </div>
            <div class="base-de-donnée-entrées-totales">
                <div class="totales-titre"><p>Entrées Totales</p></div>
                <div class="totales-description"><p>0</p></div>
            </div>
            <div class="base-de-donnée-dernière-sauvegarde">
                <div class="sauvegarde-titre"><p>Dernière sauvegarde</p></div>
                <div class="sauvegarde-description"><p>Il y a 0 heures</p></div>
            </div>
            <div class="base-de-donnée-taille">
                <div class="taille-titre"><p>Taille</p></div>
                <div class="taille-description"><p>0 / 75 GB</p></div>
                <progress class="taille-progress-barre" max="75" value="0"></progress>
            </div>
        </div>
    </div>
</div>