@import "reset.css";

body {
    font-family: -apple-system, sans-serif;
    background: #060606;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    padding: 56px 0px;
    backdrop-filter: blur(7px);
}

nav img {
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10rem;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 1.7rem 0;
}

.left {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #ffffff;
    padding: 0px 153px;
    margin: 4.2rem 0;
    z-index: 1;
}

.left h1 {
    font-size: 4rem;
}

.left p {
    font-size: 2rem;
    margin: 1rem 0;
    color: #D54796;
    font-weight: 600;
}

.left button {
    border: 2px solid #D54796;
    margin: 3rem 0;
    border-radius: 5px;
    background: none;
    width: 200px;
    height: 50px;
    transition: background-color 150ms ease;
}

.left button:hover {
    border: 2px solid #fff;
    border-radius: 5px;
    background: #d3358d;
}

.left button a {
    color: #FFFFFF;
    font-size: 2rem;
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0px 200px;
    z-index: -1;
}
