:root {
    --bg-color-dark: linear-gradient(156.2deg, rgba(0, 0, 0, 1) 14.8%, rgba(32, 104, 177, 1) 68.1%, rgba(222, 229, 237, 1) 129%);
    --bg-color-light: linear-gradient(156.2deg, rgba(222, 229, 237) 14.8%, rgba(32, 104, 177, 1) 68.1%, rgba(0, 0, 0) 129%);

    /* Light mode */

    --light-bg-navbar-color: rgba(245, 245, 247, .8);
    --light-text-navbar-color: #1d1d1f;
    --light-border-navbar-color: 1px solid rgba(255, 255, 255, 0.28);
    --light-html-bg-color: #ffffff;
    /* Dark mode */

    --dark-bg-navbar-color: rgba(0, 0, 0, 0.8);
    --dark-text-navbar-color: #d9d9e7;
    --dark-border-navbar-color: 1px solid rgba(0, 0, 0, 0.28);
    --dark-html-bg-color: #000000;
}

@media (max-width: 700px) {

    #linkedin, #mailto, #github {
        display: none;
    }

    html {
        background-color: var(--dark-html-bg-color);
    }

    body {
        height: 100vh;
    }

    nav #responsive-navbar-text {
        display: none;

    }

    nav {
        width: 100%;
        padding: 0.8rem 0;
        justify-content: end;
        align-items: center;
        gap: 1rem;
    }

    .menu-popup {
        z-index: 10;
        display: flex;
        flex-direction: column;
        background: var(--dark-bg-navbar-color);
        backdrop-filter: blur(4.1px);
        -webkit-backdrop-filter: blur(4.1px);
        position: absolute;
        height: 100vh;
        top: 0.5rem;
        width: 100%;
        text-align: start;
        align-items: center;
        justify-content: center;
        list-style: none;
        transition: height 0.3s;
    }

    .menu-popup li {
        display: flex;
        flex-direction: column;
        line-height: 5rem;
        margin-left: 2rem;
    }

    .menu-popup a {
        font-size: 28px;
        color: var(--dark-text-navbar-color);
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }

    .menu-popup a:hover {
        color: #1D1D1F;
        text-decoration: underline;
    }

    .popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #close-menu {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    nav ul li {
        display: none;
    }

    nav #menu,
    nav #close-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

    #moon,
    #sun {
        z-index: 2;
    }

    #scrollToUp {
        display: none;
    }

    .img {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-right: 3.5rem;
    }

    #close-menu {
        display: flex;
    }
}

@media (max-width: 1200px) {
    #scrollToUp {
        display: none;
    }
}

@media (max-width: 1400px) {

    #home {
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        transition: all 300ms ease-in-out;
    }

    #home .leftText {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .rightText {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }

    #home h1 {
        font-family: "Viga", sans-serif;
        font-size: 200%;
    }

    #home img {
        height: 51%;
        border-radius: 5%;
    }
}



