@media (max-width: 600px) {


    body {
        height: 100vh;
    }

    #connexionButton{
        display: none;
    }

    #connexionButtonToggle {
        display: block;
    }

    nav ul a , #connexionButtonToggle {
        display: none;
    }

    nav ul img {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #open-sidebar {
        display: block;
        height: 42.5px;
    }

    main .titre {
        font-size: 2rem;
    }

    main .titre p {
        font-size: 1.5rem;
    }

}