@media (max-width: 700px) {

    html, body {
        margin: 0;
        padding: 0;
        background: #2068B1FF;
        height: 100%;
    }

    .top-safe-area-fill {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: env(safe-area-inset-top);
        background: rgba(245, 245, 247, .8);
        z-index: 9999;
    }

    nav {
        position: sticky;
        width: 100%;
        padding: 0.7rem 0;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        background: rgb(245, 245, 247, .8);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.1px);
        -webkit-backdrop-filter: blur(4.1px);
        border: 1px solid rgba(255, 255, 255, 0.28);
    }

    nav ul li {
        display: none;
    }

    nav #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }
}