@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*$bg-color-dark: linear-gradient(156.2deg, rgba(0, 0, 0, 1) 14.8%, rgba(32, 104, 177, 1) 68.1%, rgb(224, 222, 237) 129%);*/
/*$bg-color-light: linear-gradient(156.2deg, rgba(222, 229, 237) 14.8%, rgba(32, 104, 177, 1) 68.1%, rgba(0, 0, 0) 129%);*/

$bg-color-dark: #000000;
$bg-color-light: #ffffff;


$text-navbar-color: rgba(255, 255, 255, 0.8);
$text-default: rgb(255, 255, 255);
$subtext-default: rgba(255, 255, 255, 0.8);
$bg-navbar-color: rgba(255, 255, 255, 0.1);
$border-navbar-color: 1px solid rgba(255, 255, 255, 0.2);
$border_radius-navbar-color: 24px;

$font-default: 'Space Grotesk';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: $bg-color-dark;

  head {
  }

  #error-404 {
    display: none;
    color: $text-default;
    @media (max-width: 375px) {
      //display: flex;
    }
  }

  body {
    height: calc(100vh + 150px);
    font-family: $font-default;
    @media (max-width: 375px) {
      //display: none;
    }

    #nav {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 24px;

      nav {
        display: flex;
        color: $text-navbar-color;
        background-color: $bg-navbar-color;
        border: $border-navbar-color;
        border-radius: $border_radius-navbar-color;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(50px);
        padding: 0 33px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 74px;
        width: 75%;

        .title {
          display: flex;
          align-items: center;
          gap: 12px;

          img {
            width: 32px;
            height: 32px;
          }

          h1 {
            color: #ffffff;
            font-size: 16px;
            @media (max-width: 1100px) {
              display: none;
            }
          }
        }

        ul {
          display: flex;
          gap: 32px;
          padding: 0;
          align-items: center;
          @media (max-width: 1100px) {
            display: none;
          }

          li {
            display: flex;
            list-style: none;

            a {
              color: $text-navbar-color;
              text-decoration: none;
              font-size: 16px;
            }

            a:hover {
              color: #ffffff;
            }
          }

          .cvButton {
            display: flex;
            background-color: #2b7fff;
            border-radius: 33px;
            padding: 9px 24px;
            transition: scale 0.1s ease-out;
            font-size: 16px;

            a {
              color: #ffffff;
            }
          }

          .cvButton:hover {
            background-color: #155dfc;
            scale: 1.05;
          }
        }

        #burger {
          display: none;
          padding: 8px;
          @media (max-width: 1100px) {
            display: block;
          }

          li {
            list-style: none;

            a {
              color: $text-default;
              text-decoration: none;
            }
          }
        }
      }
    }

    .burger {
      //display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      @media (min-width: 1100px) {
        display: none;
      }

      #burgerNav {
        display: flex;
        position: absolute;
        top: 135px;
        color: $text-navbar-color;
        background-color: $bg-navbar-color;
        border: $border-navbar-color;
        border-radius: $border_radius-navbar-color;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(50px);
        justify-content: start;
        align-items: center;
        font-size: 16px;
        height: 350px;
        width: 87%;
        animation: burger 150ms ease-in-out;
        @keyframes burger {
          from {
            height: 0;
          }
          to {
            height: 350px;
          }
        }

        #burgerMenu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          align-content: center;
          gap: 12px;
          margin: 0 auto;
          //width: 100%;

        }

        #burgerCV {
          display: flex;
          background-color: #2b7fff;
          border-radius: 14px;
          font-size: 16px;

          a {
            color: #ffffff;
          }
        }

        #burgerCV:hover {
          background-color: #155dfc;
        }

        li {
          display: flex;
          flex-direction: column;
          width: 375px;
          a {
            color: $text-navbar-color;
            display: flex;
            border-radius: 14px;
            font-size: 16px;
            text-decoration: none;
            padding: 18px 270px 18px 17px;
            transition: all 150ms ease-out;

          }

          a:hover {
            background: rgba(207, 212, 236, 0.2);
          }
        }
      }
    }
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 182.5px;
    margin-top: 150px;
    //padding: 150px 182.5px 33px 182.5px;
    @media (max-width: 1100px) {
      align-items: center;
      justify-content: center;
      margin-left: 0;
      margin-top: 100px;
    }

    #hero-title {
      display: flex;
      flex-direction: column;
      color: $text-default;
      font-size: 96px;
      @media (max-width: 1100px) {
        text-align: center;
      }
      @media (max-width: 500px) {
        font-size: 48px;
      }
    }

    #hero-subtitle {
      margin-top: 15px;
      color: #51A2FF;
      font-size: 48px;
      font-weight: 300;
      line-height: 48px; /* 100% */
      @media (max-width: 1100px) {
        text-align: center;
      }
      @media (max-width: 650px) {
        font-size: 24px;
      }
    }

    #hero-description {
      margin-top: 33px;
      color: $subtext-default;
      font-size: 20px;
      width: 637px;
      line-height: 140%;
      @media (max-width: 1100px) {
        text-align: start;
      }
      @media (max-width: 650px) {
        width: 345px;
      }
    }

    #hero-icon {
      margin-top: 48px;
      display: flex;
      flex-direction: row;
      gap: 16px;

      #github, #linkedin, #mailto {
        padding: 17px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.10);
        transition: all 150ms ease-in-out;
      }

      #github:hover, #linkedin:hover, #mailto:hover {
        transform: scale(1.1);
        border: 1px solid rgba(81, 162, 255, 0.5);
        background: rgba(255, 255, 255, 0.10);
      }

      #github img, #linkedin img, #mailto img {
        height: 24px;
        width: 24px;
      }
    }

    #hero-links {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      gap: 16px;
      height: 58px;
      @media (max-width: 1100px) {
        flex-direction: column;
      }

      #hero-links-project, #hero-links-contact {
        color: $text-default;
        text-decoration: none;
        transition: all 150ms ease-in-out;
      }

      #hero-links-project:hover {
        transform: scale(1.1);
        border: 1px solid rgba(81, 162, 255, 0.3);
        background: rgba(43, 127, 255, 0.5);
      }

      #hero-links-contact:hover {
        transform: scale(1.1);
      }

      #hero-links-project {
        padding: 16px 33px 18px 33px;
        border-radius: 16px;
        border: 1px solid rgba(81, 162, 255, 0.50);
        background: rgba(43, 127, 255, 0.20);
      }

      #hero-links-project, img {
        display: flex;
        align-items: center;
      }

      #hero-links-contact {
        display: flex;
        align-items: center;
        padding: 16px 32.594px 18px 33px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.10);
      }
    }
  }

  main {
    #scrollToUp {
      position: fixed;
      bottom: 50px;
      right: 50px;
      padding: 10px;
      border-radius: 999px;
      z-index: 9999;
      transition: all 300ms ease-in-out;
      background-color: var(--dark-bg-navbar-color);
    }
  }
}
