@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*$bg-color-dark: linear-gradient(156.2deg, rgba(0, 0, 0, 1) 14.8%, rgba(32, 104, 177, 1) 68.1%, rgb(224, 222, 237) 129%);*/
/*$bg-color-light: linear-gradient(156.2deg, rgba(222, 229, 237) 14.8%, rgba(32, 104, 177, 1) 68.1%, rgba(0, 0, 0) 129%);*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #000000;
}
html #error-404 {
  display: none;
  color: rgb(255, 255, 255);
}
@media (max-width: 375px) {
  html #error-404 {
    display: flex;
  }
}
html body {
  height: calc(100vh + 150px);
  font-family: "Space Grotesk";
}
@media (max-width: 375px) {
  html body {
    display: none;
  }
}
html body #nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
html body #nav nav {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 0 33px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 74px;
  width: 75%;
}
html body #nav nav .title {
  display: flex;
  align-items: center;
  gap: 12px;
}
html body #nav nav .title img {
  width: 32px;
  height: 32px;
}
html body #nav nav .title h1 {
  color: #ffffff;
  font-size: 16px;
}
html body #nav nav ul {
  display: flex;
  gap: 32px;
  padding: 0;
  align-items: center;
}
@media (max-width: 1100px) {
  html body #nav nav ul {
    display: none;
  }
}
html body #nav nav ul li {
  display: flex;
  list-style: none;
}
html body #nav nav ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 16px;
}
html body #nav nav ul li a:hover {
  color: #ffffff;
}
html body #nav nav ul .cvButton {
  display: flex;
  background-color: #2b7fff;
  border-radius: 33px;
  padding: 9px 24px;
  transition: scale 0.1s ease-out;
  font-size: 16px;
}
html body #nav nav ul .cvButton a {
  color: #ffffff;
}
html body #nav nav ul .cvButton:hover {
  background-color: #155dfc;
  scale: 1.05;
}
html body #nav nav #burger {
  display: none;
  padding: 8px;
}
@media (max-width: 1100px) {
  html body #nav nav #burger {
    display: block;
  }
}
html body #nav nav #burger li {
  list-style: none;
}
html body #nav nav #burger li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
html body #nav nav .switchMode {
  display: flex;
  width: 50px;
  height: 50px;
}
html body #hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 182.5px;
  margin-top: 150px;
}
@media (max-width: 1100px) {
  html body #hero {
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 100px;
  }
}
html body #hero #hero-title {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: 96px;
}
@media (max-width: 1100px) {
  html body #hero #hero-title {
    text-align: center;
  }
}
@media (max-width: 500px) {
  html body #hero #hero-title {
    font-size: 48px;
  }
}
html body #hero #hero-subtitle {
  margin-top: 15px;
  color: #51A2FF;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px; /* 100% */
}
@media (max-width: 1100px) {
  html body #hero #hero-subtitle {
    text-align: center;
  }
}
@media (max-width: 650px) {
  html body #hero #hero-subtitle {
    font-size: 24px;
  }
}
html body #hero #hero-description {
  margin-top: 33px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  width: 637px;
  line-height: 140%;
}
@media (max-width: 1100px) {
  html body #hero #hero-description {
    text-align: start;
  }
}
@media (max-width: 650px) {
  html body #hero #hero-description {
    width: 345px;
  }
}
html body #hero #hero-icon {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
html body #hero #hero-icon #github, html body #hero #hero-icon #linkedin, html body #hero #hero-icon #mailto {
  padding: 17px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  transition: all 150ms ease-in-out;
}
html body #hero #hero-icon #github:hover, html body #hero #hero-icon #linkedin:hover, html body #hero #hero-icon #mailto:hover {
  transform: scale(1.1);
  border: 1px solid rgba(81, 162, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
}
html body #hero #hero-icon #github img, html body #hero #hero-icon #linkedin img, html body #hero #hero-icon #mailto img {
  height: 24px;
  width: 24px;
}
html body #hero #hero-links {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 16px;
  height: 58px;
}
@media (max-width: 1100px) {
  html body #hero #hero-links {
    flex-direction: column;
  }
}
html body #hero #hero-links #hero-links-project, html body #hero #hero-links #hero-links-contact {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
html body #hero #hero-links #hero-links-project:hover {
  transform: scale(1.1);
  border: 1px solid rgba(81, 162, 255, 0.3);
  background: rgba(43, 127, 255, 0.5);
}
html body #hero #hero-links #hero-links-contact:hover {
  transform: scale(1.1);
}
html body #hero #hero-links #hero-links-project {
  padding: 16px 33px 18px 33px;
  border-radius: 16px;
  border: 1px solid rgba(81, 162, 255, 0.5);
  background: rgba(43, 127, 255, 0.2);
}
html body #hero #hero-links #hero-links-project, html body #hero #hero-links img {
  display: flex;
  align-items: center;
}
html body #hero #hero-links #hero-links-contact {
  display: flex;
  align-items: center;
  padding: 16px 32.594px 18px 33px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
html body main #scrollToUp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  border-radius: 999px;
  z-index: 9999;
  transition: all 300ms ease-in-out;
  background-color: var(--dark-bg-navbar-color);
}

/*# sourceMappingURL=style.css.map */
