@import "reset.css";
@import url('https://fonts.cdnfonts.com/css/sf-compact-display');

html {
    overflow-x: hidden;
}

* {
    font-weight: lighter;
    font-family: 'SF Compact Display', sans-serif;
}

.error-page {
    display: none;
}

.error-page img {
    display: flex;
    height: 7.5rem;
}

body {
    background-color: #e8e8e8;
}

.home_loading {
    margin-top: 16rem;
}

.profile_card .avatar {
    height: 5rem;
    margin-top: 5rem;
}

.second_profile_card .avatar {
    height: 5rem;
    margin-top: 5rem;
}

.second_profile_card {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 100rem;
    margin-left: 10rem;
}

.profile_card {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    margin-left: 10rem;
}

.titre {
    border-radius: 27px;
    background: rgba(255, 255, 255, 0.62);
    margin-top: -10rem;
    padding: 2rem;
}

.nom {
    font-size: 5rem;
}

.sous-titre {
    font-size: 3rem;
}

.answer_card .avatar {
    height: 5rem;
    margin-top: 5rem;
}

.profile_card {
    animation: bye_profile_card linear 250ms;
    animation-timeline : scroll();
}

.answer_card {
    animation: bye_answer_card linear 250ms;
    animation-timeline : scroll();
}

.answer_card {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    margin-right: 10rem;
    right: 0;
}

.answer-titre {
    border-radius: 27px;
    background: rgba(21, 122, 255, 0.62);
    margin-top: -10rem;
    padding: 2rem;
}

.answer-nom {
    font-size: 5rem;
}

.answer-sous-titre {
    font-size: 3rem;
    justify-content: right;
    align-items: center;
    position: relative;
    right: -15rem;
}

@keyframes bye_profile_card {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100rem);
        opacity: 0;
    }
}

@keyframes bye_answer_card {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100rem);
        opacity: 0;
    }
}